<ion-view view-title="Forgot Password">
  <ion-content padding="true">
    <form name="forgetPass" novalidate ng-submit="forgetPass.$valid && fp.forgetPass(fp.email)">
        <div class="list">

          <label class="item item-input" ng-class="{ 'has-error' : forgetPass.email.$invalid  && forgetPass.$submitted}">
            <i class="icon ion-email placeholder-icon"></i>
            <input name="email" type="email" placeholder="abc@mail.com" ng-model="fp.email" required>
          </label>
          <div class="form-error" ng-show="forgetPass.email.$error.required && forgetPass.$submitted">
            Email is required to reset password.
          </div>
          <div class="form-error" ng-show="forgetPass.email.$error.email && forgetPass.$submitted">
            Please enter a valid email.
          </div>
          <button class="button button-block button-positive" type="submit">Submit</button>
        </div>
    </form>
  </ion-content>
</ion-view>
